
{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <a href="{% url "create_project" %}">Create a new project</a>
            {% if not project_list %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </tr>
                    {% for project in project_list %}
                        <tr>
                            <td><a href="{% url "show_project" project.pk %}">{{ project.name }}</a></td>
                            <td>{{ project.tasks.all | length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
