{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if not task_list %}
                <p>You have no tasks</p>
            {% else %}
                <table >
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is Completed</th>
                    </tr>
                    {% for each in task_list %}
                        <tr>
                            <td>{{ each.name }}</td>
                            <td>{{ each.start_date|date:"Y-m-d" }}</td>
                            <td>{{ each.due_date|date:"Y-m-d" }}</td>
                            {% if each.is_completed == True %}
                                <td>Done</td>
                            {% else %}
                                <td>
                                    <form method="post" action="{% url 'complete_task' each.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
